@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;
}


* {
    font-family: outfit;

}

.font-PT-serif {
    font-family: PT-Serif !important;
}